@model IEnumerable<Product>
@using System.Web
@{
    ViewData["Title"] = "ProductList";
    int activePage = (int)ViewData["ActivePage"];
    int pages = (int)ViewData["Pages"];

}

<div class="productsidebar">
    <form role="search" method="get" action="@Url.Action("ProductSearch", "Products", new { id = 1 })">
        <input class="form-control visually-hidden" id="seachw" type="search" placeholder="Search" aria-label="Search" name="keyword" value="短袖">
        <button class=" ms-0" id="nore" type="submit">短袖</button>
    </form>
    <form role="search" method="get" action="@Url.Action("ProductSearch", "Products", new { id = 1 })">
        <input class="form-control visually-hidden" id="seachw" type="search" placeholder="Search" aria-label="Search" name="keyword" value="五分袖">
        <button class=" ms-0" id="nore" type="submit">五分袖</button>
    </form>
    <form role="search" method="get" action="@Url.Action("ProductSearch", "Products", new { id = 1 })">
        <input class="form-control visually-hidden" id="seachw" type="search" placeholder="Search" aria-label="Search" name="keyword" value="長袖">
        <button class=" ms-0" id="nore" type="submit">長袖</button>
    </form>
    <form role="search" method="get" action="@Url.Action("ProductSearch", "Products", new { id = 1 })">
        <input class="form-control visually-hidden" id="seachw" type="search" placeholder="Search" aria-label="Search" name="keyword" value="外套">
        <button class=" ms-0" id="nore" type="submit">外套</button>
    </form>
    <form role="search" method="get" action="@Url.Action("ProductSearch", "Products", new { id = 1 })">
        <input class="form-control visually-hidden" id="seachw" type="search" placeholder="Search" aria-label="Search" name="keyword" value="褲">
        <button class=" ms-0" id="nore" type="submit">褲子</button>
    </form>
    <form role="search" method="get" action="@Url.Action("ProductSearch", "Products", new { id = 1 })">
        <input class="form-control visually-hidden" id="seachw" type="search" placeholder="Search" aria-label="Search" name="keyword" value="裙">
        <button class=" ms-0" id="nore" type="submit">裙子</button>
    </form>
    <form role="search" method="get" action="@Url.Action("ProductSearch", "Products", new { id = 1 })">
        <input class="form-control visually-hidden" id="seachw" type="search" placeholder="Search" aria-label="Search" name="keyword" value="帽">
        <button class=" ms-0" id="nore" type="submit">帽子</button>
    </form>
    <form role="search" method="get" action="@Url.Action("ProductSearch", "Products", new { id = 1 })">
        <input class="form-control visually-hidden" id="seachw" type="search" placeholder="Search" aria-label="Search" name="keyword" value="襪">
        <button class=" ms-0" id="nore" type="submit">襪子</button>
    </form>
    <!-- 其他类别按钮 -->
</div>
<div class="productcontent">
    <!---->
    <h2>商品總覽</h2>
    <div class="line"></div>
    <div class="row">
        
        @foreach (var man in Model)
        {
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
            @await Html.PartialAsync("_CardPartial", man)
            </div>
        }
    </div>
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            <li class="page-item "><a class="page-link" asp-controller="Products" asp-action="ProductList" asp-route-category="@ViewData["Category"]" asp-route-id="@(activePage-1)"> &lt; </a></li>

            @for (int i = 1; i <= pages; i++)
            {
                <li class="page-item @(i==activePage? "active":"")"><a class="page-link" asp-controller="Products" asp-action="ProductList" asp-route-category="@ViewData["Category"]" asp-route-id="@i">@i</a></li>
                
            }

            <li class="page-item "><a class="page-link" asp-controller="Products" asp-action="ProductList" asp-route-category="@ViewData["Category"]" asp-route-id="@(activePage + 1)"> &gt; </a></li>

        </ul>
    </nav>


</div>
@*<div class="modal" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- 模态框头部 -->
            <div class="modal-header">
                 <h5 class="modal-title">@pTitle</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <!-- 模态框主体 -->
            <div class="modal-body">
                <p>@pMessage</p>
            </div>

            <!-- 模态框底部 -->
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary">保存</button>
            </div>
        </div>
    </div>
</div>

<!-- 引入 Bootstrap 的 JavaScript 文件 -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>

*@

@section topCSS{
    <link href="~/css/productleft.css" rel="stylesheet" />
    <link href="~/css/Card.css" rel="stylesheet" />
    <link href="~/css/page.css" rel="stylesheet" />
}